.wrapper {
    margin: 8px;
    padding: 24px;
    background-color: #f5f3ff;
}

.flex {
    display: flex;
    margin: -4px;

    & > * {
        margin: 4px;
    }
}

.top,
.bottom {
    margin: 8px;
}
